/* https://fontawesome.com/icons/users?f=classic&s=solid */

.fa-aicv:before,.fa-aicv-lg-alt:before,.fa-aicv:before,.fa-aicv:before{
    content:"\f2bb"
}
.fa-applications:before,.fa-applications-lg-alt:before,.fa-applications:before,.fa-applications:before{
    content:"\f144"
}
.fa-files:before,.fa-files-lg-alt:before,.fa-files:before,.fa-files:before{
    content:"\f802"
}
.fa-assistants:before,.fa-assistants-lg-alt:before,.fa-assistants:before,.fa-assistants:before{
    content:"\f0c0"
}
.fa-privacy:before,.fa-privacy-lg-alt:before,.fa-privacy:before,.fa-privacy:before{
    content:"\f3ed"
}

.fa-login:before,.fa-login-lg-alt:before,.fa-login:before,.fa-login:before{
    content:"\f007"
}


