.ops_layerswitcher {
    position:absolute;
    border:0px;
    top:0px;   
    right:0px;
    background:rgba(0, 60, 136, 0.5);     
    padding:5px;
}
.ops_layerswitcher #ops_tolboxclose,.ops_layerswitcher #ops_tolboxopen{
    position:relative;
    right:0px;
    z-index:99;
    border-radius:4px; 
    color:#fff; 
    display:block;
    background-color: transparent;
    border:0px;
}
.ops_layerswitcher #ops_tolboxclose{
    position:absolute;

}

.ops_layerswitcher #ops_tolbox { 
    position:relative;
    top:0px;
    right:0px;
    z-index:100;
    right:1px; 
    margin:0; 
    padding:3px; 
    font-size:14px;
    line-height: 16px;
    border-radius:4px; 
    color:#fff; 
    list-style-type:none; 
    max-height: 90%;
    overflow: auto;
}
.ops_layerswitcher #ops_tolbox ul,.ops_layerswitcher #ops_tolbox li{
    list-style-type:none;
    margin:0px;
    padding-left: 0px; 
}
.ops_layerswitcher #ops_baselayers {  
}
.ops_layerswitcher #ops_baselayers ul,.ops_layerswitcher #ops_baselayers ul{  
    padding-left:0px;
}
.ops_layerswitcher #ops_layertree{
}
.ops_layerswitcher #ops_layertree ul,.ops_layerswitcher #ops_layertree li{
    padding-left:10px;				
}
.ops_layerswitcher #ops_layertree ul,.ops_layerswitcher #ops_layertree li{list-style-type:none}
.ops_layerswitcher #ops_layertree button{
    border-radius:5px; 
    border:1px solid #dadada;
    background-color: transparent;
    margin:2px;
    height:20px;
    width:20px;
    text-align: center
}
.ops_layerswitcher #ops_layertree button:hover{background: #808080}
.ops_layerswitcher li.clickme>span{content: "−";cursor:pointer;border-radius:4px}
.ops_layerswitcher li.clickme>span:hover{background-color: #404040}


