/* put your own styles to customize and override the theme */
.page{
    background-color:#ffffff;
}

.app-header-dark {
    background-color: #d67e36;
    color: hsla(0,0%,100%,.8);
}

.btn-primary {
    color: #fff;
    background-color: #0076a8;
    border-color: #005cbf;
}

a {
    color: #0076a8;
    text-decoration: none;
    background-color: transparent;
}

img{
    max-width: 100% !important
}


.bg-dark {
    background-color: #598d29!important;
}
